
$sizeMobile: 640px;
$sizeTablet: 900px;
$sizeDesktop: 1200px;
$sizeLarge: 1400px;

$maxWidth: 1440px;
$menuBreakpoint: 700px;
$mobileMenuWidth: 230px;

$transition: all .5s ease;

@import "helpers/important";
@import "helpers/functions";
@import "styles/colors";
@import "styles/type";
@import "plugins/slick";
@import "plugins/featherlight";
@import "plugins/featherlight-gallery";

@import "styles/header";
@import "styles/footer";
@import "styles/common";
@import "styles/forms";
@import "styles/homepage";
@import "styles/single-event";
@import "styles/hero-slider";
@import "styles/accordion";

// * {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// 	font-family: "Lato", sans-serif;
// }

// featherlight example
div[class^="inline-"] {
	display: none;
}

// .container {
// 	width: 80%;
// 	margin: 50px auto;
// }

.featuredEvent_carousel {
	.carousel {
		border: 1px solid $gray;		
		max-height: 400px;
	}
}

.featuredEvent__slideContainer {
	display: flex;
	// align-content: center;
	// flex-wrap: wrap;
	max-height: 400px;
	overflow: hidden;
}

.featuredEvent {
	&__image {
		width: 66%;

		img {
			width: 100%;
			display: block;
		}
	}

	&__info {
		width: 33%;
	}
}

.upcoming-events {
	.filmFilters {
		display: none;
	}
}


///////// NEWS, EVENT, FILM CARDS ////////////
.card__wrapper {
	display: flex;
	align-content: top;
	flex-wrap: wrap;
	margin-top: 30px;
}
.card {
	position: relative;
	background-color: $white;
	vertical-align: top;
	max-width: 250px;
	width: 100%;
	margin-right: 30px;
	margin-bottom: 30px;
	border: 1px solid $gray;
	overflow: hidden;
	transition: $transition;

	&__button {
		position: absolute;
		z-index: 10;
	  text-align: center;
	  padding: 20px 10px;
		width: 100%;
		height: 50px;
		bottom: -45px;
		border-radius: 0;
	}

	&:hover {
		// box-shadow: 0 0 0 2px $gray;
		.card__button {
			bottom: 0;
		}

		.card__title {
			text-decoration: underline;
		}
	}

	&__infoWrapper {
		padding: 10px 10px 30px 10px;
	}

	&__title {
		@include rem(18);
		font-weight: 700;
		margin: 0.2em 0;
	}

	&__subtitle {
		@extend .h5;
	}

	&__info {
		p {
	    margin: .5em 0;
	    @include rem(14);
		}
		i {
	    width: 30px;
	    padding-right: 10px;
			text-align: center;
			opacity: .5;
			@include rem(16);
		}
	}
}

.film {
	.event__dateBox,
	.card__button {
		background-color: $green;

		&:hover {
			background-color: $green-med;
		}
	}
}

.event {
	.event__dateBox,
	.card__button {
		background-color: $red;

		&:hover {
			background-color: $red-med;
		}
	}
}

.event__dateBox {
	width: 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	color: $white;
	line-height: 1;

	span {
		display: block;
	}
	.day {
		@include rem(22);
		font-family: $header;
		// font-weight: 700;
	}
	.month {
		@include rem(10);
		text-transform: uppercase;
	}
}
.eventCard {
	.event__dateBox {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__image {
		height: 141px;
		width: 100%;
		overflow: hidden;

		img {
			max-width: 100%;
		}
	}
}

.image-only__content-container {
	position: absolute;
	top: 10%;
	left: 15%;
	width: 70%;
	margin: auto;
	color: white;
	text-align: center;

	ul {
		list-style: none;
		line-height: 4rem;
	}

	button {
		background-color: white;
		color: black;
	}
}
