$sizeMobile: 640px;
$sizeTablet: 900px;
$sizeSidebarWrap: 940px;

$menuBreakpoint: 1080px;
$sizeDesktop: 1200px;
$sizeLarge: 1400px;

$maxWidth: 1680px;
$mobileMenuWidth: 280px;

$transition: all .5s ease;

@import "helpers/important";
@import "helpers/functions";
@import "styles/colors";
@import "styles/type";
@import "plugins/slick";
@import "plugins/featherlight";
@import "plugins/featherlight-gallery";

@import "styles/header";
@import "styles/footer";
@import "styles/common";
@import "styles/inputs";
@import "styles/homepage";
@import "styles/events";
@import "styles/news";
@import "styles/hero-slider";
@import "styles/accordion";
@import "styles/blog";
