////
//// ACCORDION
////

$ac-padleft: 32px;

/* Accordion Styles */
.accordion {
  margin: 1.5em 0;
}
.accordion__panel {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	padding-left: $ac-padleft;
	overflow: hidden;

	> input {
		position: absolute;
		opacity: 0;
		z-index: -1;

		/* when accordion is open/checked */
		&:checked ~ .accordion__content {
			// changed from 10em
			max-height: 1000em;
		}

		&:checked {
			color: $green;
		}
	}
	> label {
		position: relative;
		display: block;
		cursor: pointer;
		@include rem(18);
    font-weight: 600;
    transition: $transition;

		&::before { /* Icon */
			position: absolute;
			left: -$ac-padleft;
			top: 0;
			display: block;
			width: 1em;
			text-align: center;
			color: $gray;
			transition: $transition;
		}

		&:hover {
    	color: $green;

    	&::before {
    		color: $green;
    	}
    }
	}

	// for allowing multiple panels to be open at a time
	> input[type="checkbox"] + label::before {
		content: "\f078";
		font-family: $fa;
		font-weight: 900;
	}
	> input[type="checkbox"]:checked + label::before {
		transform: rotate(180deg);
	}

	// for only allowing one panel to be open at a time
	> input[type="radio"] + label::before {
		content: "\25BC";
	}
	> input[type="radio"]:checked + label::before {
		transform: rotateX(180deg);
	}
}

.accordion__content {
	max-height: 0;
	overflow: hidden;
	background: $white;
	transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
