.card__excerpt {
	p {
		overflow: hidden;
		display: -webkit-box;
		text-overflow: ellipsis;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
	}
}

.card__categories {
	margin-top: 10px;
	
	i {
		opacity: .6;	
	}
	@include rem(12);	
}

.blogPost__categories {
	position: relative;
  margin-top: 20px;
	padding-left: 30px;

  i {
    position: absolute;
    left: 0px;
    top: 4px;
    opacity: .6;
  }
}

.blogPost__image {
	margin-bottom: 3em;
}

.featuredPost {
	border: 1px solid $gray;
}

$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #ff0000;
$pinterest: #bd081c;
$googleplus: #db4437;
$linkedin: #007bb5;
$reddit: #ff5700;
.socialShare { 
	padding-top: 2em;
  margin-top: 3em;

	&__link {
	  position: relative;
	  min-width: 60px;
	  display: inline-block;
	  background-color: $green;
	  color: $white;
	  margin-right: 10px;
	  border-radius: 3px;
	  padding: 2px 10px 0;
	  @include rem(14);
	  text-align: center;
	  opacity: .6;

	  &::after {
	    content: 'share on';
	    position: absolute;
	    top: 0;
	    left: 50%;
	    transform: translateX(-50%);
	    opacity: 0;
	    font-weight: 600;
	    width: 100%;
	    height: 100%;
	    text-transform: uppercase;
	    @include rem(12);
	    letter-spacing: .06em;	 
	    transition: $transition; 		
	    color: $text;
  	}

	  &:hover {
	  	opacity: 1;

	  	&::after {
		    top: -100%;
		    opacity: 1;		
	  	}
	  }
	}

	&--facebook {
		background-color: $facebook;	
	}
	&--twitter {
		background-color: $twitter;	
	}
	&--googleplus {
		background-color: $googleplus;	
	}
	&--linkedin {
		background-color: $linkedin;	
	}
	&--pinterest {
		background-color: $pinterest;	
	}
	&--reddit {
		background-color: $reddit;	
	}
}