////
//// COMMON SHARED STYLES
////

html {
  @include breakpoint($sizeMobile){
 		@include rem(14);
  }
}
body {
  position: relative;
  background-color: $white;
  font-family: $body;
  @include rem(16);
  font-weight: 400;
  line-height: 1.5;
  color: $text;
  margin: 0;
}

* { box-sizing: border-box; }

::selection {
  background: rgba($green, 1);
  color: $white;
}
::-moz-selection {
  background: rgba($green, 1);
  color: $white;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

hr {
	background-color: $gray;
	height: 1px;
	width: 50%;
	margin: 2em auto;
  border: 0;
}

img, figure {
  height: auto;
  max-width: 100%;
  // &.size-medium {
  // 	width: 50%;
  // }

	&.alignright {
		float:right; 
		padding: 1rem;
		padding-right: 0;
	}
	&.alignleft {
		float:left; 
	  padding: 1rem;
	  padding-left: 0;
	}
	&.aligncenter {
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		text-align: center;
	}
}
figure {
	&.aligncenter {
    position: relative;
		left: 50%;
    transform: translateX(-50%);
	}
	&.wp-caption {
		display: inline-block;
		margin: 0;
		width: auto !important;

		img {
			display: block;
		}
	}
}
figcaption,
.caption {
  font-size: 87.5%;
	text-align: right;
	color: rgba($text, .75);
  margin: 0;
  padding: 5px 10px;
	border-right: 3px solid $green;
	border-bottom: 1px solid $gray-lt;
	border-left: 1px solid $gray-lt;
}

// Responsive Embedded Video
.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.gallery-content {
	display: none;
}

.screen-reader-text {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

section, 
article {
	position: relative;
	background-color: $white;
}

main {
	padding-bottom: 40px;

	&::after {
    content: " ";
    clear: both;
    display: table;
  }
}

.divide {
	height: 40px;
	width: 100%;

	@include breakpoint($sizeMobile) {
		height: 20px;
	}
}

// .mainWrapper wraps everything but mobile menu. allows content 
// to shift when menu opens (more styles in _part-header.scss)
.mainWrapper {
	position: relative;
	right: 0;
	transition: $transition;
	overflow: hidden;
}

.container {
	position: relative;
	z-index: 100;
	padding: 40px;
	
	@include breakpoint($sizeTablet){
		padding: 20px;
	}

  &::after {
    content: " ";
    clear: both;
    display: table;
  }
}

.contain {
	max-width: $maxWidth;
	margin-left: auto;
	margin-right: auto;

	&::after {
    content: " ";
    clear: both;
    display: table;
  }
}

.breadcrumbs {
	a {
		text-decoration: none;
		opacity: .5;

		&:hover {
			opacity: 1;
		}
	}
}
.breadcrumb_last {
	font-weight: 600;
}

.btn__close {
	position: absolute;
	z-index: 20;
	top: 0;
	right: 0;
	width: 50px;
	text-align: center;
	transition: $transition;
	cursor: pointer;
	@include rem(16);
	font-weight: 700;

	&:hover {
		opacity: .5;
	}
}


// page tabs, filters for events, etc
.tabbedContent__tabs {
	position: relative;

	// fade off as tabs overflow
	&::after {
		content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to left, $white, rgba($white,0));
	}

	// wrapper for the tabbed items
	ul {
		padding: 0;
		margin: 1em 0;
		overflow-x: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;

		&:not(:first-of-type){
			margin-top: 0;

			.tabbedContent__tab {
				@include rem(14);
			}
		}
	}
}

// individual tabbed items
.tabbedContent__tab {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	border-bottom: 3px solid $white;
	@include rem(16);

	// highlights filter on-click
	&.active-link {
		font-weight: 600;
		border-bottom-color: $green;
	}
}

// hide content in tabs that aren't active
.tabbedContent__content {
	&.hide-tab-content {
	  display: none;
	}
}


// wrapper for content/sidebar on templates
.mainContent {
	&__content {
		display: inline-block;
		vertical-align: top;
		width: 65%;
	}
	&__sidebar {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		border-left: 1px solid $gray;

		> .container {
	    padding-left: 20px;
	    padding-right: 20px;
		}
	}
	&__noSidebar {
		.block__default,
		.block__gallery,
		.accordion {
			max-width: 800px;
			margin: 0 auto;
		}
	}
}

.block{
	&__fullImage {
		img {
			width: 100%;
	    display: block;
		}
	}

	&__gallery {
		img {
			display: block;
		}
		a {
			position: relative;
			display: inline-block;
			margin-right: 10px;
			width: 100%;
			max-width: 350px;

			&::after {
				content: ' ';
				position: absolute;
				z-index: 5;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: $transition;
			}

			.fa-search-plus {
				opacity: 0;
			}

			&:hover {
				&::after {
					background-color: rgba($black, .4);
				}

				.fas {
					opacity: 1;
				}

				.fa-search-plus {
					opacity: 1;
				}
			}
		}

		.fas {
			position: absolute;
			z-index: 10;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include rem(36);
			color: $white;
			transition: $transition;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.fa-play {
			width: 85px;
			height: 85px;
			border-radius: 100em;
			background-color: rgba($black, .4);

			&::before {
		    padding-left: 9px;
			}
		}
	}
}

// .eventType__event {
// 	color: $red;
// }
// .eventType__film {
// 	color: $green;
// }


// content-blocks-link-block.php
.cta__card {
	position: relative;
	z-index: 1;
	padding: 20px;
	margin: 10px;
	width: 100%;
	max-width: 300px;
	display: inline-block;
	border: 1px solid $gray;

	&:first-of-type {
		margin-left: 0;
	}

	.h3 {
		&::after {
			content: ' ››';
		}
	}
	
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: calc(100% - 5px);
		transition: $transition;
		@extend .bg-gold;	
	}
	&:hover {
		&::before {
			right: 0;
		}
	}
}




