////
//// EVENT, FILM, FESTIVAL SHARED STYLES
////

///////// Archive - Events, Films ///////// 

// slide of featured events on top of template-events.php
.featuredEvent_carousel {
	.carousel {
		border: 1px solid $gray;		
	}
}
.featuredEvent {
	&__image {
		width: 66%;
    position: relative;

		img {
			width: 100%;
			display: block;
		}

		.event__dateBox {
			left: 0;
		}
	}

	&__info {
		width: 33%;
    display: flex;
    align-items: center;
    
		h3 {
			line-height: 1;
		}

		p i {
			width: 25px;
			text-align: center;
			margin-right: 5px;
		}
	}

	&__slideContainer {
		display: flex;
		overflow: hidden;
	}

	&__slide {
		&.film {
			.button {
				background-color: $green;

				&:hover {
					background-color: $green-med;
				}

				&.secondary {
					color: $green;
					background-color: $white;
					box-shadow: inset 0 0 0 2px $green;

					&:hover {
						background-color: $green-med;
						box-shadow: inset 0 0 0 2px $green-med;
						color: $white;
					}
				}
			}
		}
	}
}

// event type filters for template-events.php
.upcoming-events {
	.filmFilters {
		display: none;
	}
}
.filmFilters {
	.default {
		position: relative;
    margin-right: 26px;

		&::after {
			position: absolute;
			content: "|";
			font-weight: 400;
			right: -16px;
			color: $gray;
		}
	}
}

///////// Single - Events, Films, Festivals ///////// 
.singleEvent {
	&__image {
		position: relative;

		&--date {
			position: absolute;
			top: 0;
			left: 0;
			color: white;
		}
  }	

	&__reveal {
		max-height: 100%;
		overflow: auto;
	}

	&__read-more {
		text-align: center;
	}

	&__videos {
		display: flex;
		justify-content: space-around;

		iframe {
			display: inline-block;
			max-width: 80%;
			height: auto;
			margin-left: 10%;
		}

		p {
			margin-left: 10%;
		}
	}

	&__headings {
		padding-top: 2em;
		padding-bottom: 1.5em;

		> * {
			line-height: 1;
		}
	}
}

.event__dateBox {
	width: 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	color: $white;
	line-height: 1;

	span {
		display: block;
	}
	.day {
		@include rem(22);
		font-family: $header;
	}
	.month {
		@include rem(10);
		text-transform: uppercase;
	}
}
.event__dateBox {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
}

// Films sidebar dates
.showInfo {
	&__showdates {
		margin: 0;
		padding: 0;
	}

	&__date { // (li element)
		list-style: none;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .date {
	  	width: 140px;
	  }
		.past {
	    opacity: .3;
		}
	}

	// Films sidebar times
	&__times {
		margin: 0;
		padding: 0;
    width: 100px;

		li {
			list-style: none;
	    display: flex;
    	justify-content: space-between;
		}

		.time {
			font-weight: 600;
			margin-bottom: 5px;
		}
	}
}

.mainContent__sidebar {
	h3 {
		i {
			font-size: 20px;
			margin-right: 10px;
			position: relative;
			bottom: 3px;
		}
	}
}

.sidebar__tickets {
	p.small {
		.fa-ticket-alt {
			opacity: .5;
		}
	}
}

.sidebar__filmInfo {
	div {
		margin: 15px 0 1.5em;
	}
	p {
		margin-top: 0;
	}
}

.ticket__prices {
	margin-top: 0.5em;
	margin-bottom: 1em;

	p {
		margin: 0;
	}

	.primary {
		@include rem(20);
	}

	span:not(:last-of-type) {
		&::after {
			content: ' | ';
			opacity: .5;
			padding: 0 5px;
		}
	}
}

.pageHeader,
.externalLinks,
.sidebar__eventInfo {
	i {
    width: 25px;
    margin-right: 5px;
    text-align: center;
  }
}

.externalLinks {
	p a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.sidebar__eventInfo {
  margin-top: 40px;

	.showInfo__date {
		padding-left: 30px;
		display: block;
		margin-bottom: 0;
		
		&:first-of-type {
			padding: 0;
		}
	}
}

.pageHeader {
	.date {
		margin: 0;
	}

	h1 {
		line-height: 1;
	}
}

.singleEvent__relatedPosts {
	border-top: 1px solid $gray;
	padding-top: 2em;
	margin-top: 3em;

	.card__wrapper {
		margin-top: 10px;
	}
}

///////// NEWS, EVENT, FILM CARDS ////////////
// sliders on homepage & event dropdown with info cards
.cardSlider {
	.slick-track {
		display: flex;

		.card {
			flex: 1;
		}
	}
	.slick-slide {
		width: 250px;
		margin-right: 15px;
		height: auto;
	}

	.slick-list {
		&::after {
			content: "";
	    position: absolute;
	    z-index: 100;
	    top: 0;
	    right: 0;
	    width: 30px;
	    height: 100%;
	    background: linear-gradient(to left, $white, rgba($white,0));
		}
	}

	&__nav {
    float: right;
    margin-top: 25px;

    .button {
		  display: inline-block;
      vertical-align: middle;
		}
  }
	&__arrows {
		margin-left: 15px;
		width: 90px; // each button is 45px wide
		position: relative;
    display: inline-block;
    vertical-align: middle;

		.slick-prev,
		.slick-next {
			&::before { 
				background-color: transparent;
				font-size: 16px;
				color: $green;
			}

			&:hover {
				&::before {
					color: $green-med;
				}
			}
		}
	}
}

.card__wrapper {
	display: flex;
	align-content: top;
	flex-wrap: wrap;
	margin-top: 30px;
}
.card {
	position: relative;
	background-color: $white;
	vertical-align: top;
	max-width: 250px;
	width: 100%;
	margin-right: 30px;
	margin-bottom: 30px;
	border: 1px solid $gray;
	overflow: hidden;
	transition: $transition;

	&__button {
		position: absolute;
		z-index: 10;
	  text-align: center;
	  padding: 20px 10px;
		width: 100%;
		height: 50px;
		bottom: -45px;
		border-radius: 0;
    margin: 0;
		background-color: $off-white;
		color: $text;

    &:hover {
			color: $text;
		}
	}

	&:hover {
		.card__button {
			bottom: 0;
		}

		.card__title {
			text-decoration: underline;
		}
	}

	&__infoWrapper {
		padding: 10px 10px 30px 10px;
	}

	&__title {
		@include rem(18);
		font-weight: 700;
		margin: 0.2em 0;
	}

	&__info {
		p {
	    margin: .5em 0;
	    @include rem(14);
		}
		i {
	    width: 30px;
	    padding-right: 10px;
			text-align: center;
			opacity: .5;
			@include rem(16);
		}
	}
}

.eventCard {
	&__image {
		height: 141px;
		width: 100%;
		overflow: hidden;

		img {
			max-width: 100%;
		}
	}
}

.event__categories {
	@extend .h5;
}

.newsCard {
	.card__button {
		background-color: $off-white;
		background-image: url('../src/img/patterns/pattern-white.png');
		background-size: 147px 147px;
		background-repeat: repeat;
	}
}

.film {
	.event__dateBox,
	.card__button {
		background-color: $green;
		color: $white;
	}

	.card__button {
		&:hover {
			background-color: $green-med;
		}
	}
}

.event {
	.event__dateBox,
	.card__button {
		background-color: $red;
		color: $white;
	}

	.card__button {
		&:hover {
			background-color: $red-med;
		}
	}
}

