.socialmedia__feed {
	// @include breakpoint($sizeMobile){
 //  	display: none;
 //  }

  &::after {
		content: "";
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, $white, rgba($white,0));
	}

	&--title {
		position: relative;
		text-align: center;

		&::before {
			content: " ";
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: $gray;
		}

		&::after {
			content: "";
	    position: absolute;
	    z-index: 105;
	    bottom: -30px;
	    right: 0;
	    left: 0;
	    width: 100%;
	    height: 30px;
	    background: linear-gradient(to bottom, $white, rgba($white,0));
		}

		h3 {
			position: relative;
			z-index: 2;
			background-color: $white;
			padding: 0 20px;
			display: inline-block;
			margin: 0 auto;
		}
	}

	&--posts {
		max-height: 300px;
		padding-bottom: 30px; // to account for the ::after fade
		overflow-y: auto;

		&.contain {
			max-width: 900px;
		}

		// .ctf-item { // styles for Twitter Feed plugin
			// .ctf-retweet-icon {
			// 	background-color: transparent;
			// }
		// }
	}
}

.socialmedia__bar {
	@extend .bg-green;
	text-align: center;
	padding: 15px;
	
	&--icon {
		@include rem(18);
		padding-left: 25px;
		padding-right: 25px;
		display: inline-block;

		a {
			color: $white;
			
			&:hover {
				color: $green-med;
			}
		}
	}
}

.footer--main {
	background-color: $off-black;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: $white;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.footer__logo,
.footer__contact,
.footer__copyright,
.footer__sitemap {
	color: $gray;
}

.footer__logo {
	p {
		@include rem(16);
		margin-top: 0;
	}

	svg {
		width: 50px;
		display: block;
    margin: 0 auto;
	}
}

.footer__slogan {
	p {
    @include rem(80);
    font-weight: 700;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 1em;

    @include breakpoint($sizeTablet){
    	@include rem(55);
    }

    @include breakpoint($sizeMobile){
    	@include rem(30);
    }
	}
}

.newsletter {
	&__form {
		position: relative;
	  max-width: 320px;
	  width: 90%;
	  margin: 0 auto;
	}
	&__input {
	  padding-right: 50px !important;
	}
	&__submit {
		@include rem(16);
		position: absolute;
		z-index: 105;
		right: 0;
		top: 50%;
	  width: 50px;
	  height: 100%;
	  border: 0;
	  padding: 0;
		background-color: transparent;
		color: $green;
		transform: translateY(-50%);
		transition: $transition;

		&:hover {
			color: $green-med;
			cursor: pointer;
		}
	}	
}


.footer__sitemap {
	text-align: left;
	
	@include breakpoint($sizeMobile){
  	display: none;
  }

	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
	}

	a {
		@include rem(12);

		&:hover {
			color: $white;
			text-decoration: underline;
		}
	}

	&-column {
		width: 175px;
		margin-bottom: 20px;
  	margin-right: 10px;	
	}

	.container {
  	display: flex;
		align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  }
}

.footer__contact {
	p {
		@include rem(12);
		line-height: 1.15;
		margin-bottom: 2em;
	}
}

.footer__copyright {
	p {
		@include rem(10);
		line-height: 1.15;
		margin-bottom: 0;
	}
}