////
//// HEADER
////

// logged into wordpress styles
.admin-bar {
	.header__main.sticky,
	.header__mobileNav {
    top: 32px !important;

    @include breakpoint(782px){
			top: 46px !important;
		}
	}
}
@include breakpoint(600px){
	#wpadminbar {
    position: fixed;
	}
}
// END logged into wordpress styles


.header {
	ul {
		padding: 0;
    margin: 0;
    list-style: none;
	}
}

.header__top {
	background-color: $gray-lt;
	border-bottom: 1px solid $gray;
	padding-top: 7px;
	padding-bottom: 2px;
	@include rem(12);

	@include breakpoint($sizeMobile){
		display: none;
	}

	.container {
		padding-top: 0;
		padding-bottom: 0;
	}

	ul {
		display: inline-block;
	}

	li {
		display: inline-block;
		padding-right: 15px;
	}
	
	.left { 
		float: left;

		a:hover {
			text-decoration: underline; 
		}
	}
	.right { 
		float: right; 
	}
}

.menu-header-top-right {
	a {
		&:hover {
			text-decoration: underline; 
		}
	}
}

.header__searchBtn {
	display: inline-block;
	vertical-align: middle;
	@include rem(16);

	&:hover {
		opacity: .5;
	}
}

.header__main {
	background-color: $white;
	border-bottom: 1px solid $gray;
	z-index: 1000;

	> .container {
    padding-top: 0;
    padding-bottom: 0;
		display: flex;
	}

	&.sticky {
	  width: 100% !important; // overrides inline width from ScrollMagic
		top: 0 !important; // when page loads in middle, ScrollMagic was funky
		left: 0 !important;
		transition: $transition;

    .header__logo {
    	height: 60px;
    	padding: 5px 0;

    	svg {
    		height: 100%;
	    	// width: 100%;
    	}
    }

    .header__mainMenu { // wrapper ul element for the main menu
			> li {
		    padding-top: 10px;
		    padding-bottom: 18px; // exact amount menu items are from bottom of header
			
				&.large {
					padding-bottom: 15px; // exact amount menu items are from bottom of header
				}
			}
		}
	}

	.header__cta {
		text-align: right;

	  @include breakpoint($menuBreakpoint){
	  	display: none;
	  }

		> li {
			padding-left: 20px;
		}
	}
}

.header__logo {
	flex: 0 1 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: $transition;

	a {
		img, svg {
			max-height: 75px;
			max-width: 160px;
	    display: block;
		}

		&:hover {
			opacity: 1;
		}
	}

	@include breakpoint($menuBreakpoint){
		margin: 0 auto;
	}
}

// Desktop Menu Styling
.header__nav {
	flex: 0 1 auto;
	width: 100%;
  text-align: right; // justifies menu to the right
  align-self: flex-end; // positions menu at bottom of header

  @include breakpoint($menuBreakpoint){
		display: none;
	}

	> ul { // top level wrapper
		display: inline-block;
		vertical-align: baseline;
		
		> li { // top level list item
			display: inline-block;
			position: relative; // keeps dropdown sub-menus in position
	
			> a {
				position: relative;
				display: block;
				@include rem(16);
				font-weight: 600;
			}

			&.large {
				> a {
					@include rem(24);
				}
			}

			// target the last three elements dropdowns align to the right
			&:nth-last-child(-n+3) > .sub-menu {
		    right: 0;
			}

			> .sub-menu { // first sub-menu as a dropdown
				display: none;
				position: absolute;
				z-index: 999;
				width: auto;
				top: 100%;
				padding: 10px 0 15px;
				min-width: 200px;
				background-color: $white;
				border: 1px solid $gray;
				text-align: left;
				
				li { // dropdown menu items
					display: block;
					list-style: none;
					padding: 0;
					margin: 0;
					position: relative;
					padding: 6px 25px;
				}

				.sub-menu { // nested sub-menus
			    li {
			    	padding: 2px 10px;
			    }
				}
			} // end .sub-menu

			// show dropdown on hover
			&.menu-item-has-children {
				&:hover { 
					> .sub-menu {
						display: block;
					}
				}
			}
		} // end '> li'
	}
} // end .header-nav
.header__mainMenu > li { // wrapper ul element for the main menu
	padding: 20px 20px 30px 0; // controls how far menu items are from bottom of header

	&:last-of-type {
    padding-right: 0;
	}

	> a {
		&::after {
	    content: '';
	    position: absolute;
	    left: 0;
	    bottom: -3px;
	    height: 3px;
	    width: 100%;
	    background-color: transparent;
		}
	}

	&:hover,
	&.hover {
		> a::after {
			background-color: $green;
		}
	}

	&.large { // for menu-items tagged with 'large' (ie: Events, Films)
		padding-right: 30px;
    padding-bottom: 27px; // absolute for dropdown menu hover to work

		> .sub-menu {
			top: 100%;
		}

		> a {
			&::after {
		    bottom: 0;
			}
		}
	}

	&.current-menu-item,
	&.current-menu-ancestor {
		> a::after {
			background-color: $green;
		}	
	}
}

// Mobile Menu Styling
.header__mobileNav {
	position: fixed;
  z-index: 999;
  top: 0;
	bottom: 0;
	right: -$mobileMenuWidth;
	width: $mobileMenuWidth;
	background-color: $white;
	border-right: 1px solid $gray;
	overflow-y: auto;
	transition: $transition;
	
	@include breakpoint-min($menuBreakpoint + 1px){
		display: none;
	}

	&Top {
		background-color: $gray-lt;
		border-bottom: 1px solid $gray;
		padding: 10px 50px 5px 15px;
		@include rem(12);
	}

	.header__searchBtn {
		display: inline-block;
		vertical-align: middle;
		padding-right: 10px;
	}
	.menu-header-top-left {
		display: inline-block;
		vertical-align: middle;

		li {
			display: inline-block;
			padding-right: 10px;
		}
	}
	.btn__close {
		top: 12px;
	}

	.header__cta {
		text-align: center;
		border-bottom: 1px solid $gray;

		> li {
			margin: 15px;
		}
		a {
			display: block;
		}
	}

	&--menu {
		> ul {
			> li {
				position: relative;
				border-bottom: 1px solid $gray;

				> a {
					display: inline-block;
					padding: 10px 15px;
					@include rem(16);
					font-weight: 600;

					&:hover {
						color: $green;
					}
				}

				&.large {
					> a {
						@include rem(24);
					}
				}

				&.menu-item-has-children {
					> a {
						padding-right: 50px; // to account for the width of the accordion dropdown
					}
				}

				> .sub-menu {
					display: none;
					border-top: 1px solid $gray;
					background-color: $gray-lt;
					padding: 20px 0 20px 25px;

					li:not(:last-of-type) {
						padding-bottom: 8px;
					}
				}
			}
		}

		.dropdown_icon {
	    cursor: pointer;
	    position: absolute;
	    right: 0;
	    top: 14px;  // absolute positioning
	    width: 50px;
	    @include rem(16);
	    color: $gray;
	    text-align: center;
	    transition: $transition;

	    &:hover {
	    	color: $green;
	    }
		}

		.large {
			.dropdown_icon {
				top: 20px; // absolute positioning
			}
		}

		.open { // when dropdown accordion is opened
			.sub-menu {
				display: block;
			}

			.dropdown_icon {
				transform: rotate(180deg);
			}
		}
	} 
} // end .mainNav__mobile

// Common sub-menu & nested sub-menu styles
.sub-menu {
	a { // dropdown menu item link
		position: relative;
		outline: none;
		display: block;
		font-weight: 600;

		&:hover {
			text-decoration: underline;
		}

		// for titles in menu that are not linked
		&:not([href]) {
			font-family: $header;
			font-weight: 700;
	    text-transform: uppercase;
	    @include rem(12);
	    opacity: .8;
	    letter-spacing: .02em;
      padding-top: 8px;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.current-menu-item {
		> a {
			font-weight: 700;	
			text-decoration: underline;
		}	
	}

	.sub-menu { // nested sub-menus
		display: block;
    position: relative;
    padding: 8px 0 0;
    border: 0;
    @include rem(14);

    li {
    	padding: 2px 10px;
    }

    a {
    	font-weight: 400;
    }
	}
} // end .sub-menu

// Overlay for open mobile menu and how the body content behaves (shifts)
.mainWrapper {
	&::after { // setting up body's overlay for opened mobile menu
		position: absolute;
		content: " ";
		background-color: rgba($black, .85);
		z-index: -1;
		opacity: 0;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		transition: .5s ease all;
	}
}
.shift { // class added to <html> when mobile menu is open
	overflow-x: hidden; // so you can't scroll when mobile menu is open

	.header__main.sticky {
		left: -$mobileMenuWidth !important;
	}
	.mainWrapper {
		right: $mobileMenuWidth;

		&::after {
			z-index: 10000;
			opacity: 1;
		}
	}
	.header__mobileNav {
		right: 0;
		border-left: 1px solid $gray;
	}
} // end .shift

// hamburger button styling for opening the mobile menu
// that is way more complicated than it should be haha
.mobileNavTrigger { // link "a" element
	flex: 0 1 auto;
	display: none;
  position: relative;
  transition: .5s ease-in-out;
  cursor: pointer;
	width: 100%;
	text-align: right; // justifies menu to the right
	align-self: center; // vertically centers trigger in header
  
	@include breakpoint($menuBreakpoint) {
		display: block;
	}

	&:hover {
		span {
			background-color: $green-med;
		}
	}

	&__icon {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 28px; // same as the span's width
		height: 20px;
	}
	&__label {
		display: inline-block;
		vertical-align: middle;
		padding-right: 10px;
	}

	span { // hamburger menu styling and positioning
	  display: block;
	  position: absolute;
	  height: 3px;
	  width: 28px;
	  background-color: $green;
	  left: 0;
	  transition: .25s ease-in-out;
	
		&:nth-child(1) {
		  top: 0px;
		}

		&:nth-child(2),
		&:nth-child(3) {
		  top: 7px;
		}

		&:nth-child(4) {
			top: 14px;
		}
	}

	&.open {
		span {
			&:nth-child(1){
				top: 5px;
			  width: 0%;
			  left: 50%;
			}
			&:nth-child(2){
		 		transform: rotate(45deg);	
			}
			&:nth-child(3){
		 		transform: rotate(-45deg);	
			}
			&:nth-child(4){
				top: 5px;
			  width: 0%;
			  left: 50%;
			}
		}
	}
} // .end mobileNavTrigger


// Alert Banners at the top of the page
.alertBanner {
	position: relative;
	text-align: center;

	&__closeBtn {
		position: absolute;
		top: 50%;
		right: 0;
		padding: 20px;
		color: $gold-dk;
		cursor: pointer;
		transform: translateY(-50%);
		transition: $transition;

		&:hover {
			color: $off-black;
		}
	}

	&__text {
		max-width: calc(100% - 80px);
		margin: 0 auto;
		padding-top: 13px;
		padding-bottom: 13px;
		font-weight: 600;
		@include rem(14);
		color: $gold-dk;
		transition: $transition;
	}

	a:hover {
		p {
			color: $off-black;
		}
	}
} // end .alertBanner

.header__mainMenu {
	.header__event__trigger {
		.sub-menu {
			display: none !important;
		}
	}
}
.eventsDropdown {
	display: none;
	position: absolute;
	z-index: 900;
	left: 0;
	top: 100%;
	width: 100%;
  background-color: $white;
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;

  .card {
  	margin-bottom: 0;
  }
  
  h2 {
  	display: none;
  }
	&.show {
		display: block;
	}
}
//
// END OF HEADER STYLES
//