//
// HEADER STYLES
//


// logged into wordpress styles
.admin-bar {
	.header__main.sticky {
    top: 32px !important;

    @include breakpoint(782px){
			top: 46px !important;
		}
	}
}
@include breakpoint(600px){
	#wpadminbar {
    position: fixed;
	}
}
// END logged into wordpress styles


.header {
	ul {
		padding: 0;
    margin: 0;
    list-style: none;
	}
}

.header__top {
	background-color: $gray-lt;
	border-bottom: 1px solid $gray;
	padding-top: 7px;
	padding-bottom: 2px;
	@include rem(12);

	@include breakpoint($sizeMobile){
		display: none;
	}

	.container {
		padding-top: 0;
		padding-bottom: 0;
	}

	ul {
		display: inline-block;
	}

	li {
		display: inline-block;
		padding-right: 15px;
	}
	
	.left { 
		float: left;

		a {
			text-decoration: underline; 
		}
	}
	.right { 
		float: right; 
	}
}

.header__searchBtn {
	display: inline-block;
	vertical-align: middle;
	@include rem(16);
}

.header__main {
	background-color: $white;
	border-bottom: 1px solid $gray;
	z-index: 1000;

	> .container {
    padding-top: 0;
    padding-bottom: 0;
		display: flex;
	}

	&.sticky {
	  width: 100% !important; // overrides inline width from ScrollMagic
		top: 0 !important; // when page loads in middle, ScrollMagic was funky
    left: auto !important;

    .header__logo {
    	height: 60px;
    	padding: 5px 0;

    	svg {
    		height: 100%;
	    	width: auto;
    	}
    }

    .header__mainMenu { // wrapper ul element for the main menu
			> li {
		    padding-top: 10px;
		    padding-bottom: 12px; // exact amount menu items are from bottom of header
			}
		}
	}
}

.header__cta {
	text-align: right;

  @include breakpoint($menuBreakpoint){
  	display: none;
  }

  a {
		@extend .button;
	}
}

.header__logo {
  padding-top: 20px;
  padding-bottom: 20px;
  transition: $transition;

	a {
		img, svg {
			// width: 190px;
			height: 75px;
			width: auto;
		}

		&:hover {
			opacity: 1;
		}
	}

	@include breakpoint($menuBreakpoint){
		margin: 0 auto;
	}
}

.header__nav { // wrapper nav element
	width: 100%;
  text-align: right; // justifies menu to the right
  align-self: flex-end; // positions menu at bottom of header

  @include breakpoint($menuBreakpoint){
		display: none;
	}

	> ul { // top level wrapper
		display: inline-block;
		vertical-align: baseline;

		&.header__mainMenu { // wrapper ul element for the main menu
			> li {
				padding: 20px 20px 30px 0; // controls how far menu items are from bottom of header

				> a {
					@include rem(16);
					font-weight: 600;
					border-bottom: 3px solid transparent;	

					&:hover {
						border-bottom: 3px solid $green;
					}
				}

				&.large {
					padding-right: 30px;

					> a {
						@include rem(24);
					}

					> ul {
						top: 100%;
					}
				}

				&.current-menu-item,
				&.current-menu-ancestor {
					> a {
						border-color: $green;	
					}	
				}
			}
		}

		> li { // top level menu items
			display: inline-block;
			position: relative;
	
			> a { // top level menu item link
				display: block;
				position: relative;
			}

			// &.menu-item-has-children { // top level menu item with dropdown
			// 	> a {
			// 		&::before { // dropdown arrow styling
			// 			content: '';
			// 		}
			// 	}
			// }

			
		}
	}

	ul {
		li {
			&.menu-item-has-children {
				&:hover { // show dropdown on hover
					> ul {
						display: block;
					}
				}
			}

			> ul { // dropdown wrapper styling
				display: none;
				position: absolute;
				z-index: 999;
				width: auto;
				top: calc(100% + 3px); // exact positioning dropdown when there are .large menu-items
				padding: 10px 0 15px;
				min-width: 200px;
				background-color: $white;
				border: 1px solid $gray;
				text-align: left;
				
				li { // dropdown menu item 
					display: block;
					list-style: inside none;
					padding: 0;
					margin: 0;
					position: relative;
					padding: 8px 28px;

					a { // dropdown menu item link
						position: relative;
						outline: none;
						display: block;

						&:hover {
							text-decoration: underline;
						}
					}
					
					&.current-menu-item,
					&.current-menu-ancestor {
						> a {
							font-weight: 700;	
							text-decoration: underline;
						}	
					}
				}
			}
		}
	}
} // end .header-nav


// Mobile Menu Styling
.header__mobileNav {
	position: fixed;
  z-index: 999;
  top: 0;
	bottom: 0;
	right: -$mobileMenuWidth;
	width: $mobileMenuWidth;
	padding: 80px 10% 20px;
	background-color: $white;
	border-right: 1px solid $gray;
	overflow-y: auto;
	transition: $transition;
	
	@include breakpoint-min($menuBreakpoint + 1px){
		display: none;
	}
} // end .mainNav__mobile


.mainWrapper {
	&::after { // setting up body's overlay for opened mobile menu
		position: absolute;
		content: " ";
		background-color: rgba($black, .85);
		z-index: -1;
		opacity: 0;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		transition: .5s ease all;
	}
}

.shift { // class added to <html> when mobile menu is open
	overflow-x: hidden; // so you can't scroll when mobile menu is open

	.mainWrapper {
		right: $mobileMenuWidth;

		&::after {
			z-index: 10000;
			opacity: 1;
		}
	}
	.header__mobileNav {
		right: 0;
		border-left: 1px solid $gray;
	}
}

.mobileNav__trigger {
	display: none;
  // position: absolute;
  // right: 20px;
  // top: 50%;
  // transform: translateY(-50%);
	width: 100%;
	text-align: right; // justifies menu to the right
	align-self: center; // vertically centers trigger in header
  
	@include breakpoint($menuBreakpoint) {
		display: block;

	}
}

.mobileNav__openBtn {
	display: block;
  position: relative;
  height: 20px;
  transition: .5s ease-in-out;
  cursor: pointer;
	
	&:hover {
		span {
			background-color: $green-med;
		}
	}
	p.h5 {
		position: absolute;
		left: 0;
		text-align: right;
	}
	span { // hamburger menu styling and positioning
	  display: block;
	  position: absolute;
	  height: 3px;
	  width: 28px;
	  background-color: $green;
	  left: 0;
	  transition: .25s ease-in-out;
	
		&:nth-child(1) {
		  top: 0px;
		}

		&:nth-child(2),
		&:nth-child(3) {
		  top: 7px;
		}

		&:nth-child(4) {
			top: 14px;
		}
	}

	&.open {
		span {
			&:nth-child(1){
				top: 5px;
			  width: 0%;
			  left: 50%;
			}
			&:nth-child(2){
		 		transform: rotate(45deg);	
			}
			&:nth-child(3){
		 		transform: rotate(-45deg);	
			}
			&:nth-child(4){
				top: 5px;
			  width: 0%;
			  left: 50%;
			}
		}
	}
}
// End Mobile Menu Styling


.alertBanner {
	position: relative;
	text-align: center;

	&__closeBtn {
		position: absolute;
		top: 50%;
		right: 20px;
		color: $gold-dk;
		cursor: pointer;
		transform: translateY(-50%);
		transition: $transition;

		&:hover {
			color: $off-black;
		}
	}

	&__text {
		max-width: calc(100% - 80px);
		margin: 0 auto;
		padding-top: 13px;
		padding-bottom: 13px;
		font-weight: 600;
		@include rem(14);
		color: $gold-dk;
		transition: $transition;
	}

	a:hover {
		p {
			color: $off-black;
		}
	}
}


//
// END OF HEADER STYLES
//