////
//// INPUTS
////

.button,
input[type="submit"] {
	display: inline-block;
	outline: 0;
	border: 0;
	cursor: pointer;
	font-family: $header;
	font-weight: 700;
	text-transform: uppercase;
	@include rem(14);
	line-height: 1;
	color: $white;
	background-color: $red;
	border-radius: 3px;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 14px 20px 12px; // specific to vertically center font
	transition: $transition;
	
	&:hover {
		background-color: $red-med;
		color: $white;
	}

	&.secondary {
		background-color: transparent;
		color: $red;
		box-shadow: inset 0 0 0 2px $red;

		&:hover {
			background-color: $red;
			color: $white;
		}

		&.disabled {
			box-shadow: inset 0 0 0 2px $gray;
			color: $text;
			background-color: $white;

			&:hover {
				background-color: $white;
				color: $text;
			}
		}
	}

	&.gray {
		background-color: $white;
		color: $text;
		box-shadow: inset 0 0 0 2px $gray;

		&:hover {
			box-shadow: inset 0 0 0 2px $green;
			color: $text;
		}

		&.disabled {
			&:hover {
				background-color: $white;
				color: $text;
			}
		}
	}

	&.disabled {
		opacity: .6;
		cursor: default;
		background-color: $gray;
		color: $text;
		
		&:hover {
			color: $text;
			background-color: $gray;
		}
	}

	~ .button {
		margin-left: 8px;
	}
}

.header__cta a {
	display: inline-block;
	outline: 0;
	border: 0;
	cursor: pointer;
	font-family: $header;
	font-weight: 700;
	text-transform: uppercase;
	@include rem(14);
	line-height: 1;
	border-radius: 3px;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 14px 20px 10px; // specific to vertically center font
	transition: $transition;
	background-color: $white;
	color: $text;
	box-shadow: inset 0 0 0 2px $gray;

	&:hover {
		box-shadow: inset 0 0 0 2px $green;
		color: $text;
	}
}

p .button { // for TinyMCE 'p span.button a' elements
	a {
		text-decoration: none;
		transition: none;

		&:hover {
			color: $white;
		}
	}

	&.gray {
		a:hover {
			color: $text;
		}
	}
}

button {
	outline: 0;
}

form {
	margin-top: 1em;
	margin-bottom: 1em;
}

fieldset {
  border: 0;
  padding: 0;
  max-width: 500px;

  div {
 		margin: 1em 0;
  }
}

textarea { 
	resize: vertical; // only allows vertical resizing of textbox
	max-height: 275px; 
	min-height: 50px;
}

select {
	-moz-appearance: none; // removes defualt styles in Firefox
	-webkit-appearance: listbox; // removes defualt styles in Safari
	@include rem(14);
}

label {  
	display: inline-block;
	@include rem(14);
  font-weight: 600;

	&:focus {
  	outline: none;
  }
}

// All inputs except submit button
input:not([type="submit"]),
textarea,
select {
  display: block;
	@include rem(16);
  width: 100%;
  border-radius: 3px;
	outline: none;

  &:focus {
  	outline: none;
  }
}

// specific input styles
input:not([type="radio"], [type="checkbox"], [type="submit"]),
textarea,
select {
	font-family: $body;
  border: 1px solid $gray;
  padding: 11px 13px 10px;
  background-color: $white;
  border-radius: 3px;
	color: $text;
}

input:not([type="radio"], [type="checkbox"], [type="submit"]),
textarea, fieldset {
	// margin: 13px auto;
	-webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"]{
	display: inline-block;
	width: auto;
  margin-right: 6px;
  vertical-align: middle;
}

// CF7 Specific Styles
span {
  &.wpcf7-not-valid-tip {
	  color: $red;
	  @include rem(11);
	  display: block;
	  top: 5px;
	  position: relative;
	  text-align: right;
  }

  &.wpcf7-list-item {
    display: block;
    margin: 0;
  }
}

// CF7 Alert Messaging Styles
div {
  &.wpcf7-response-output {
  	max-width: 500px;
  	text-align: center;
    color: $text;
    @include rem(20);
    font-weight: 300;
    padding-left: 0;
    margin-left: 0;
    border: 0 !important;
  }

  &.wpcf7-mail-sent-ok {
  	border: 0;
  	color: $green;
  }
  &.wpcf7-validation-errors {
    border: 0;
    color: $red;
  }
}
