// Styles for single posts - Events, Films, Festivals
.singleEvent {
	&__image {
		position: relative;
		display: inline-block;
		height: 400px;
		width: 100%;
		overflow: hidden;

		&--date {
			position: absolute;
			top: 0;
			left: 0;
			color: white;
		}
  }	

	&__description {
		max-height: 250px;
		overflow: hidden;
	}

	&__reveal {
		max-height: 100%;
		overflow: auto;
	}

	&__read-more {
		text-align: center;
	}

	&__videos {
		display: flex;
		justify-content: space-around;

		iframe {
			display: inline-block;
			max-width: 80%;
			height: auto;
			margin-left: 10%;
		}

		p {
			margin-left: 10%;
		}
	}
}
