.hero-container {
	ul {
		list-style: none;
	}
}

.hero-slider {
	width: 60%;
	margin: auto;
	background-color: darkorange;

	img {
		max-width: 300px;
		margin: auto;
	}
}

.festival-content {
	border: 1px solid blue;
	width: 65%;
	float: left;

	a {
		display: inline-block;
		border-left: 1px solid darkseagreen;
		border-top: 1px solid darkseagreen;
		border-right: 1px solid darkseagreen;
		margin: 0 5px;
		padding: 5px;
	}
}

.festival-sidebar {
	border: 1px solid black;
	float: left;
	width: 35%;
}

a.tab-link {
	text-decoration: none;
}

.tab-link {
	color: darkseagreen;
}

.active-link {
	color: white;
	background-color: darkseagreen;
}

.hide-tab-content {
    display: none;
}
