.single-event {
	&__container {
		width: 65%;
		display: inline-block;
        float: left;
        
    }
    
    &__left-col {
        width: 80%;
        margin: auto;
    }

	&__image {
		position: relative;
		display: inline-block;
		height: 400px;
		width: 100%;
		overflow: hidden;

		&--date {
			position: absolute;
			top: 0;
			left: 0;
			color: white;
		}
    }
    
    &__event-info {
        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;
        }
    }

	&__description {
		max-height: 150px;
		overflow: hidden;
		// transition: all 2s;
	}

	&__reveal {
		max-height: 100%;
		overflow: auto;
	}

	&__read-more {
		text-align: center;
	}

	&__videos {
		display: flex;
		justify-content: space-around;

		iframe {
			display: inline-block;
			max-width: 80%;
			height: auto;
			margin-left: 10%;
		}

		p {
			margin-left: 10%;
		}
	}

	&__sidebar {
		width: 35%;
        display: inline-block;
        border-left: 1px solid black;
        
        &--container {
            width: 70%;
            margin: auto;
        }

        ul {
            list-style: none;
        }
 
        &--show-info {
            border-bottom: 1px solid black;
        }

        &--social-media {
            border-bottom: 1px solid black;
        }

        &--cta-card {
            border: 1px solid black;
            margin-top: 10px;
        }
    }
  
	&__button {
		text-align: center;
        button {
            padding: 15px 30px;
            background-color: #eee;
        }
		
	}
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
